.stats-layout-wrapper {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f9f9f9;
}

.chart-card-large {
  margin: 3%;
  flex: 1 1 70%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.chart-card {
  margin: 3%;
  flex: 1 1 500px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.chart-card h2 {
  margin-bottom: 16px;
}
